
.swiper {
    width: 100%;
    height: 100%;
  }
  
 .ritesh .swiper-slide {
    font-size: 18px;
    background: #fff;

    width: 95%!important;
    height: 42vh;
    border-radius: 20px;
    /* Center slide text vertically */
   
  }
    





  .swiper-button-next::after {
    color: black !important;
    scale: 0.6;
    z-index: 99999!important;
    position: absolute;
    background-color: #2333;
    padding: 2vh 3vh;
    border-radius:100%;
    bottom: 50%!important;
    transform: translateY(50%);
    right: 20%;
  }
  .swiper-button-prev::after {
    color: black !important;
    scale: 0.6;
    position: absolute;
    left: 55%;
     bottom: 50%!important;
    transform: translateY(50%);
    padding: 2vh 3vh;
    background-color: #2333;
    border-radius:100%;
  }

  .hide-scrollbar {
    overflow: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  
  .hide-scrollbar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }