
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 52vh!important;
    border-radius: 30px;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    object-position: center;
    height: 100%;
    object-fit: cover;
  }


  .swiper-button-next::after {
    color: black !important;
    scale: 0.6;
    z-index: 99999!important;
    position: absolute;
    background-color: #2333;
    padding: 2vh 3vh;
    border-radius:100%;
    right: 20%;
  }
  .swiper-button-prev::after {
    color: black !important;
    scale: 0.6;
    position: absolute;
    left: 60%;
    padding: 2vh 3vh;
    background-color: #2333;
    border-radius:100%;
  }
